<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="!onlyOdd" >
          <li
            *ngFor="let num of oddNumbers" 
            class="list-group-item"
            [ngClass]="{'odd': num % 2 !== 0}"
            [ngStyle]="{'color': num % 2 !== 0 ? 'red' : 'darkblue'}">
            {{ num }}
          </li>
        </div> -->

      <!-- custom structural directive  -->
        <!-- without *  -->
        <!-- <ng-template [appUnless]="onlyOdd">
          <li
            *ngFor="let num of oddNumbers" 
            class="list-group-item"
            [ngClass]="{'odd': num % 2 !== 0}"
            [ngStyle]="{'color': num % 2 !== 0 ? 'red' : 'darkblue'}">
            {{ num }}
          </li>
        </ng-template> -->

        <!-- classic version with * -->
        <div *appUnless="onlyOdd" >
          <li
            *ngFor="let num of oddNumbers" 
            class="list-group-item"
            [ngClass]="{'odd': num % 2 !== 0}"
            [ngStyle]="{'color': num % 2 !== 0 ? 'red' : 'darkblue'}">
            {{ num }}
          </li>
        </div>
        <div *ngIf="onlyOdd" >
          <li
            *ngFor="let num of evenNumbers"
            class="list-group-item"
            [ngClass]="{'odd': num % 2 !== 0}"
            [ngStyle]="{'color': num % 2 !== 0 ? 'red' : 'darkblue'}">
            {{ num }}
          </li>
        </div>
        <p appBasicHighlight>Basic directive</p>
        <!-- <p appBetterHighlight [highlightBackgroundColor]="'lightblue'" [defaultBackgroundColor]="'lightgreen'">Better directive</p> -->

        <!-- using directive name as an alias for property -->
        <!-- <p [appBetterHighlight]="'lightblue'" [defaultBackgroundColor]="'lightgreen'">Better directive</p> -->

        <!-- omitting [] and "''" for property binding -->
        <p [appBetterHighlight]="'lightblue'" defaultBackgroundColor="lightgreen">Better directive</p>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
